<!DOCTYPE html>
<html data-bs-theme="dark" lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - FireWallet</title>
    <link rel="icon" type="image/png" sizes="900x768" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="900x768" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="900x768" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="900x768" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="900x768" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg my-5 o-hidden border-0">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background: url(&quot;/assets/img/favicon.png&quot;) center / contain no-repeat;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <h1 class="text-center" style="color: rgb(255,0,0);">{{error}}</h1>
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create a new wallet!</h4>
                            </div>
                            <form class="user" method="post">
                                <div class="mb-3 row" style="padding-right: 16px;padding-left: 16px;"><input class="form-control form-control-user" type="text" id="exampleLastName" placeholder="Wallet name" name="name" value="{{name}}"></div>
                                <div class="mb-3 row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password" required="" value="{{password}}"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat" required="" value="{{password_repeat}}"></div>
                                </div><button class="btn btn-primary d-block w-100 btn-user" type="submit">Create Wallet</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="/login">Didn't mean to create a new wallet? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>